.DS_Store
Thumbs.db

*.exe
*.o
*.so

*.log

*.temp
*.tmp

.vscode/
.idea/
*.suo
*.user
*.userosscache

venv/
**/__pycache__/
*.pyc
*.pyo

*.swp
*.swo

.fseventsd/
.Spotlight-V100/
.Trashes/

stroke2vec
.ipynb_checkpoints
.history