torch==2.0.0
torchvision==0.15.0
tokenizers==0.19.1
transformers==4.43.3
diffusers==0.29.2
opencv-python==4.5.4.60
numpy==1.26.4
accelerate==0.33.0
sentencepiece==0.1.99
huggingface-hub==0.24.3
rapidfuzz==3.8.1
ftfy
Jinja2
peft==0.11.1
deepspeed==0.14.4
modelscope==1.11.0
einops==0.4.1
omegaconf==2.2.3
open-clip-torch==2.7.0
Pillow==10.3.0
pytorch-lightning==2.3
safetensors==0.4.3
timm==0.6.7
packaging==23.2
urllib3==2.2.1
easydict==1.10
Levenshtein==0.25.0
scikit-image==0.21.0
natsort==8.4.0
attridict==0.0.9
webcolors==1.13
triton==2.2.0
xformers==0.0.24
# demo extra requirements
gradio==4.44.1
protobuf==3.20.1
pydantic==2.7.3